html{
  background-color: transparent !important;
  min-height: 100%;
}

body{
  background: url('~@/assets/images/fondo.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100% !important;
}

.label-component{
  background-color: #7b6e47;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #6c757d;
  padding: 8px;
  display: block;
  text-shadow: 0 0 50px #ffa;
  width: 25%;
}

.label-component-menu-lateral{
  background-color: #7b7232;
  box-shadow: 0 0 10px 0 #6c757d;
  border-radius: 3%;
  color: #ffffff;
  display: block;
  padding: 1%;
  text-align: center;
  text-shadow: 0 0 50px #ffa;
  width: 100%;
}

.menu-lateral{
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 100% !important;
  position: absolute;
  width: 20%;
  z-index: 0;
}
.content-menu-lateral{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.logo-menu-lateral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40%;
  width: 100%;
  margin-top: 7%;
}

.input-type {
  margin:4% 0  0 0%;
  width: 90%;
}

.form-control-lg{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 67%;
}

#logo-lateral{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-link{
  padding: 1% !important;
  margin-bottom: 1%;
  text-decoration: none !important;
}
li{
  list-style: none;
}

.btn-login{
  background: url("~@/assets/images/boton.png") no-repeat;
  color: #000000 !important;
  margin-top: 4%;
  width: 30%;
}

#separator{
  background-color: #808080;
  height: 1% !important;
  width: 90%;

}
.content-cryptocurrency {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.container{
  background-color: transparent !important;
  bottom: 10%;
  display: flex;
  justify-content: center !important;
  align-content: space-between;
  min-height: 80%;
  position: absolute;
  top: 10%;
  width: 50%;
}

.content-cryptocurrency-receive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100% !important;

}
.forgoot-password-label-login{

  align-content: space-around;
  color: #60a895 !important;
  display: flex;
  justify-content: center;
  width: 100%;
}
.register-login{
  width: 100%;
}
#register-login-register{
  display: flex;
  width: 100% !important;
  height: 100%;
  align-items: center;
}
.register-login-register-link{
  color: #60a895 !important;
  display: flex;

}
.content{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav{
  display: none !important;
}
.link-a{
  text-decoration: none !important;
}
.home-cryptocurrency {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: stretch !important;
}

.table-t {
  background-color:rgba(218,183,33,0.5);
  color: #ffffff !important;
  margin: 2% 0 2% 2%;
  text-align: center;
  width: 100% !important;


}
.table-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-container-img {
  width: 100%;
  margin-top: -4%;
  height: 50% !important;
  display: flex;
  flex-direction: column;
  align-items: center;


}
.table-t thead tr th {
  background-color:rgba(218,183,33,0.5);
  border: none;
  border-right-style: solid;
  border-right-color: #ffffff;
  border-left-style: solid;
  border-left-color: #ffffff;

}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color:rgba(218,183,33,0.5);
  border: none;
  opacity: 0.8;
  border-right-style: solid;
  border-right-color: #ffffff;
  border-left-style: solid;
  border-left-color: #ffffff;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: rgba(218,183,33,0.13);
  border: none;
  border-right-style: solid;
  border-right-color: #ffffff;
  border-left-style: solid;
  border-left-color: #ffffff;
}


@media
screen and (max-width: 990px) {
  nav{
    display: block !important;
  }
  .menu-lateral{
    display: none;
  }

  .content-component{
    background-color: #212529;
    height: 80%;
    left: 60%;
    margin-left: -225px;
    margin-top: -260px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    width: 62%;
  }

  #logo-lateral{
    margin: 0;
    height:80%;
    width:80%;
  }
}
