html{
  background-color: transparent !important;
  min-height: 100%;
}

body{
  background: url('~@/assets/images/fondo.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100% !important;
}

.label-component{
  background-color: #7b6e47;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #6c757d;
  display: block;
  padding: 8px;
  text-shadow: 0 0 50px #ffa;
  width: 25%;
}

.label-component-menu-lateral{
  background-color: #7b7232;
  box-shadow: 0 0 10px 0 #6c757d;
  border-radius: 3%;
  color: #ffffff;
  display: block;
  padding: 1%;
  text-align: center;
  text-shadow: 0 0 50px #ffa;
  width: 100%;
}

.menu-lateral{
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 100% !important;
  position: absolute;
  width: 20%;
  z-index: 0;
}
.content-menu-lateral{
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.logo-menu-lateral{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  margin-top: 7%;
  width: 100%;
}

.input-type {
  margin:4% 0  0 0%;
  width: 90%;
}

.form-control-lg{
  margin: 5% 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-register-component{
  margin-top: 4%;
  width: 150%;

}
.footer-register-component-content{
  display: flex;
  justify-content: center;
}

#logo-lateral{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-link{
  margin-bottom: 1%;
  padding: 1% !important;
  text-decoration: none !important;
}
li{
  list-style: none;
}

.btn-login{
  background: url("~@/assets/images/boton.png") no-repeat;
  color: #000000 !important;
  margin-top: 4%;
  width: 34%;
}

#separator{
  background-color: #808080;
  height: 1% !important;
  width: 90%;
}

.content-cryptocurrency {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.content-child-component {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 90% !important;
  padding: 4% 0;
}

.container{
  align-content: space-between;
  background-color: transparent !important;
  bottom: 10%;
  display: flex;
  justify-content: center !important;
  min-height: 80%;
  position: absolute;
  top: 10%;
  width: 50%;
}

.view-container{
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: transparent !important;
  width: 80%;
  height: 100%;
}
.content-cryptocurrency-receive {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  justify-content: center;
}
.forgoot-password-label-login{
  align-content: space-around;
  color: #60a895 !important;
  display: flex;
  justify-content: center;
  width: 100%;
}

.register-login{
  width: 75%;
}

.register-login-register{
  align-items: center;
  display: flex;
  height: 23%;
  justify-items: center;
  justify-content: center;
  width: 100% !important;
}

.register-login-register-link{
  color: #60a895 !important;
  display: flex !important;
  text-align: left;
  width: 100% !important;
}

.register-login-content {
  display: block;
  width: 50%;
}

.register-login-content >span {
  display: block !important;
  text-align: right !important;
}

.content{
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 2;
}

nav{
  display: none !important;
}

.link-a{
  text-decoration: none !important;
  display: flex;
  width: 110% !important;
}
.link-a-lateral{
  text-decoration: none !important;
  display: flex;
  width: 100% !important;
}

.home-cryptocurrency {
  display: flex;
  justify-content: stretch !important;
  padding: 0;
  margin: 0;
  width: 100%;
}

.table-t {
  background-color:rgba(218,183,33,0.5);
  color: #ffffff !important;
  margin: 2% 0 2% 2%;
  text-align: center;
  width: 100% !important;
}

.table-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.table-container-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50% !important;
  width: 100%;

}
.table-t thead tr th {
  background-color:rgba(218,183,33,0.5);
  border: none;
  border-right-style: solid;
  border-right-color: #ffffff;
  border-left-style: solid;
  border-left-color: #ffffff;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color:rgba(218,183,33,0.5);
  border: none;
  border-right-style: solid;
  border-right-color: #ffffff;
  border-left-style: solid;
  border-left-color: #ffffff;
  opacity: 0.8;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: rgba(218,183,33,0.13);
  border: none;
  border-right-style: solid;
  border-right-color: #ffffff;
  border-left-style: solid;
  border-left-color: #ffffff;
}

@media
screen and (max-width: 990px) {
  nav{
    display: block !important;
  }
  .menu-lateral{
    display: none;
  }

  .content-component{
    background-color: #212529;
    height: 80%;
    left: 60%;
    margin-left: -225px;
    margin-top: -260px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    width: 62%;
  }

  #logo-lateral{
    margin: 0;
    height:80%;
    width:80%;
  }
}
